.avatar{
    vertical-align: middle;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.avatar-lg {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.card {
    display: inline-block;
}

td a {
    color:#000000 !important;
    text-decoration:none !important;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 200 !important;
    font-size: 0.9em;
}


.bet-input__amount {
    width: 60px;
}

.bet-input__spread {
    width: 60px;
}

.clickable {
    cursor: pointer;
}

.fa-plus-circle.success {
    color: #28a745;
    font-size: 15px;
}

.game-teams__header {
    font-size: 1.75em;
    margin-bottom: 10px !important;
}


.btn-sm {
    padding: .03rem .12rem !important;
}

.table-borderless td,
.table-borderless th {
    border-top: 0;
}

.table th {
    padding: 0 !important;
}

.table td {
    padding: .6em !important;
}
