.avatar{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.avatar-md {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.avatar-lg {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.card {
    display: inline-block;
}

td a {
    color:#000000 !important;
    text-decoration:none !important;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 200 !important;
    font-size: 0.9em;
}


.bet-input__amount {
    width: 60px;
}

.bet-input__spread {
    width: 60px;
}

.clickable {
    cursor: pointer;
}

.fa-plus-circle.success {
    color: #28a745;
    font-size: 15px;
}

.game-teams__header {
    font-size: 1.75em;
    margin-bottom: 10px !important;
}


.btn-sm {
    padding: .03rem .12rem !important;
}

.table-borderless td,
.table-borderless th {
    border-top: 0;
}

/* Circle Button */
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 4px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 30px;
    height: 30px;
    padding: 5px 6px;
    font-size: 15px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}